--clr-primary-50: #ffd280;
--clr-primary-100: #ffc886;
--clr-primary-150: #ffbf4d;
--clr-primary-200: #ffb633;
--clr-primary-300: #ffad1a;
--clr-primary-400: #ffa400;
--clr-primary-500: #e69400;
--clr-primary-600: #cc8300;
--clr-primary-700: #b37300;
--clr-primary-800: #996200;
--clr-primary-900: #805200;

--clr-secondary-50: #80a7d9;
--clr-secondary-100: #6695d1;
--clr-secondary-150: #4d84ca;
--clr-secondary-200: #3372c2;
--clr-secondary-300: #1a61bb;
--clr-secondary-400: #004fb3;
--clr-secondary-500: #0047a1;
--clr-secondary-600: #003f8f;
--clr-secondary-700: #00377d;
--clr-secondary-800: #002f6b;
--clr-secondary-900: #00285a;
